 <!--usa el layout y define el contenido dinámico para la sección principal -->

 <section>
    <h1>Acerca de Nosotros</h1>
    <p>Módulo 3 Backend Sprint 5. Equipo docente: Salas Martín, Del Campo, Agusto. Alumna María José</p>
    </section>