<!--define el contenido que mostrará en body de la Pp. principal/inicio -->
<section class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
     <div class="inicio-container">
        <a href="/">
            <img src="/images/inicio.png" height="188px" width="533px"  class="inicio">
        </a>
    </div>
    <p>Este es un sitio en que se recuerda a todos los superhéroes de los mejores comics nacionales como internacionales, en este sitio podras encontrar todas sus características, modificar, actualizar e incrementar datos.</p>
</section>