<footer style="text-align: center;">
    <p style="font-weight: bold; color: #800000; font-size: 1.2rem;">&copy; 2026 - Módulo 3 Backend- Profe: Salas, Martín. Profe: Del Campo, Agusto -Sprint 5 Países - by María José- https://github.com/Mar-Jose/Nodo-FS.3-Sprint-5.git</p>
</footer>