<!-- Sprint 4. tp 1-->
<!--navbar: barra de navegación con icónos y enlaces definidos aquí -->

<nav class="navbar">
    <div class="navbar-container">

<!-- Logo y título.-->    
    <div class="logo-container">
        <a href="/">
           <!-- <img src="/images/logo.svg" height="77px" width="77px" alt="Logo de Superhéroes" class="logo"> -->
            <img src="/images/logo.svg" alt="Bandera Argentina" width="50" height="37" class="logo">
            <span>Países Hispanohablantes</span>
        </a>
    </div>
<!-- Enlaces.-->
    <ul class="nav-links">
        <li><a href="/"> Inicio </a></li>
        <li><a href="/api/paisesA/agregar">  Agregar país </a></li>
        <li><a href="/api/paisesA/mostrar">Buscar país</a></li>
        <li><a href="/api/paisesA/importar" method="POST">  importar país de Api </a></li> 
        <li><a href="/api/paisesA"> Todos los Países </a></li>
    </ul>
    </div>
</nav>


